body {
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #0066cc;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
